* {
    box-sizing: border-box;
}

#grid {
    display: grid;
    grid-template-columns: repeat(16, 25px [col-start]);
}

.pixel {
    height: 25px;
    width: 25px;
    border: 1px solid black;
}

.hovered {
    background-color: black;
}