:root {
    --columns-row: 16;
}

#grid {
    display: grid;
    grid-template-columns: repeat(var(--columns-row), 1fr);
    grid-template-rows: repeat(var(--columns-row), 1fr);
    width: 500px;
    height: 500px;
}

.pixel {
    border: 1px solid black;
}

.hovered {
    background-color: black;
}